@{ var contador = 1; }
                                @foreach (var oferta in Model)
                                {
                                    <tr>
                                        <td style="text-align: center">@contador</td>
                                        <td>@oferta.Titulo</td>
                                        <td style="text-align: center">@oferta.FechaPublicacion.ToString("dd/MM/yyyy")</td>
                                        <td style="text-align: center">
                                            @{
                                                var description = Utal.Utils.EnumHelper<Utal.Models.Trabajo.Oferta.EstadoOferta>.GetDisplayValue(oferta.Estado);
                                                if (oferta.Estado == Utal.Models.Trabajo.Oferta.EstadoOferta.Inscrita ||
                                                   oferta.Estado == Utal.Models.Trabajo.Oferta.EstadoOferta.InscritaCDP ||
                                                   oferta.Estado == Utal.Models.Trabajo.Oferta.EstadoOferta.InscritaEmpresa ||
                                                   oferta.Estado == Utal.Models.Trabajo.Oferta.EstadoOferta.InscritaEscuela ||
                                                   oferta.Estado == Utal.Models.Trabajo.Oferta.EstadoOferta.InscritaEstudiante)
                                                {
                                                    <span class="label label-primary">@description</span>
                                                }
                                                if (oferta.Estado == Utal.Models.Trabajo.Oferta.EstadoOferta.Aprobada )
                                                {
                                                    <span class="label label-success">@description</span>
                                                }

                                            }
                                            
                                        </td>
                                        <td>
                                            <div class="btn-group btn-block">
                                                <button type="button" class="btn btn-xs btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-gears" style="color: #fff;"></i> @Resources.Labels.Acciones <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">                                                                                                      
                                                    @if (ViewBag.ParticipanteEsDirector || ViewBag.ParticipanteEsCDP || ViewBag.ParticipanteEsAdmin)
                                                    {
                                                        if (oferta.Estado != Utal.Models.Trabajo.Oferta.EstadoOferta.Aprobada)
                                                        {
                                                            <li>
                                                                <a data-toggle="modal" data-target="#AprobarOfertaModal" style="cursor: pointer;"><i class="fa fa-check"></i> @Resources.Labels.Aprobar</a>
                                                            </li>
                                                            @Html.Partial("_Aprobar", oferta)
                                                        }
                                                        <li>
                                                            <a href="@Url.Action("Modificar", "Trabajo",new { id = oferta.ID })"><i class="fa fa-edit"></i> @Resources.Labels.Modificar</a>
                                                        </li>
                                                    }
                                                    <li>
                                                        <a href="@Url.Action("Detalles", "Trabajo", new { id = oferta.ID })"><i class="fa fa-eye"></i> @Resources.Labels.VerDetalles</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    contador += 1;
                                }